{% extends 'blogbase.html' %}
{% load static %}

  
  
  
  
  <!-- Blog Post -->
  
  {% block content %}
<!-- the blogs -->
<div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">FranklyMade.
          <small style="padding:0px; margin:-12px;">tech</small>
        </h1>

        <!-- Blog Post -->
        

        <div class="card mb-4">
          <img class="card-img-top imageresize" src="{{article_list.postimage.url}}" alt="not found">
          <div class="card-body">
            <h2 class="card-title">{{ article_list.title }}</h2>
            <p class="card-text">{{ article_list.body }}</p>
          </div>
          <div class="card-footer text-muted">
            Posted on {{ article_list.postdate }}
           by <a href="#">franklymade</a>
          </div>
        </div>


  {% endblock %}
